<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <header style="display:flex;justify-content:space-between;">
  <h1>99 Cats</h1>
  <div>
    <% if logged_in? %>
        <%= current_user.user_name %>
        <a href="/">Logout</a>
    <% else %>
    
      <a href="/session/new">Login</a>
    <% end %>
  </div>
  </header>
    <%= yield %>
  </body>
</html>

<%#<form action="<%= session_url %><%# " method="DELETE"> <input type="submit" value="Logout"></form> %>
